<h1><%=@estimate.title%></h1>
<p><%=@estimate.description%></p>
<p><%=@estimate.location%></p>
<p><%=@estimate.service_date.strftime('%d/%m/%Y')%></p>
<p><%=@estimate.day_shift%></p>
<%= image_tag @estimate.photo %>