<h1><%= @estimate.title %></h1>
<% if @estimate.approved? %>
  <h2><%= 'Orçamento aprovado' %></h2>
<% elsif @estimate.approved == nil %>
  <h2><%= 'Orçamento não avaliado' %></h2>
<% else %>
 <h2><%= 'Orçamento rejeitado' %></h2>
<%end%>
<p><%= link_to 'Aprovar', approve_estimate_path %></p>