<h1><%= @estimate.title %></h1>
<p><%= @estimate.description %></p>
<p><%= @estimate.location %></p>
<p><%= @estimate.service_date.strftime('%d/%m/%Y') %></p>
<p><%= @estimate.day_shift %></p>
<p><%= @estimate.user.name %></p>
<p><%= @estimate.contractor.name %></p>

<% if @estimate.photo.attached? %>
  <%= image_tag @estimate.photo %>
<% end %>

<% if @estimate.approved? %>
  <h2><%= 'Orçamento aprovado' %></h2>
<% elsif @estimate.approved == nil %>
  <h2><%= 'Orçamento não avaliado' %></h2>
  <p><%= link_to 'Aprovar', approve_estimate_path %></p>
<% else %>
 <h2><%= 'Orçamento rejeitado' %></h2>
<%end%>

<div>
  <%= form_for @estimate do |estimate| %>
    <%= estimate.label :total_hours %>
    <%= estimate.number_field :total_hours %>

    <%= estimate.label :material_list %>
    <%= estimate.number_field :material_list %>

    <%= estimate.label :material_fee %>
    <%= estimate.number_field :material_fee %>

    <%= estimate.label :visit_fee %>
    <%= estimate.number_field :visit_fee %>

    <%= estimate.label :service_fee %>
    <%= estimate.number_field :service_fee %>

    <%= estimate.submit %>
  <% end %>
</div>
