<div>
  <h1><%= @estimate.description %></h1>
  <h5> Enviado por:</h5>
  <p> <%= @estimate.user.name %> </p>

  <h5> Local</h5>
  <p> <%= @estimate.location %> </p>

  <h5> Data de execução</h5>
  <p> <%= @estimate.service_date %> </p>

  <h5> Turno de execução</h5>
  <p> <%= @estimate.day_shift %> </p>

</div>

<div>
  <%= form_for @estimate do |estimate| %>
    <%= estimate.label :total_hours, 'Tempo de execução' %>
    <%= estimate.number_field :total_hours %>

    <%= estimate.label :material_list, 'Lista de materiais' %>
    <%= estimate.number_field :material_list %>

    <%= estimate.label :material_fee, 'Custo de materiais' %>
    <%= estimate.number_field :material_fee %>

    <%= estimate.label :visit_fee, 'Taxa de visita' %>
    <%= estimate.number_field :visit_fee %>

    <%= estimate.label :service_fee, 'Custo do serviço' %>
    <%= estimate.number_field :service_fee %>

    <%= estimate.submit 'Enviar' %>
  <% end %>
</div>