<h1><%= @estimate.title %></h1>
<p><%= @estimate.description %></p>
<p><%= @estimate.total_hours %></p>
<p><%= @estimate.material_list %></p>
<p><%= @estimate.visit_fee %></p>
<p><%= @estimate.service_fee %></p>
<p><%= @estimate.total_fee %></p>