<% if contractor_signed_in? %>
  <h4><%= "Bem vindo, #{current_contractor.name}."%></h4>
<% end %>

<%= flash[:alert] %>

<% if user_signed_in? %>
  <h4>Bem-vindo, <%= current_user.name%>! </h4>
  <p> <%= link_to 'Meus orçamentos', estimates_path %>
<% end %>
<%if @categories.size == 0%>
  <p>Não existem categorias cadastradas!</p>
<%else%>
  <div class='row'>
    <% @categories.each do |category|  %>
      <div class='col-4'>
        <div class="card">
          <div class="card-body">
            <h5 class='card-title'><%= link_to category.name, category %></h5>
          </div>
        </div>
      </div>
    <%end%>
  <%end%>

