<!DOCTYPE html>
<html>
  <head>
    <title>ReparosJa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <p>
        <% if contractor_signed_in? %>
          <%= link_to 'Sair', destroy_contractor_session_path %>
        <% else %>
          <%= link_to 'Entrar como prestador', new_contractor_session_path %>
        <% end %>
      </p>
      <p><%= link_to 'Novo prestador', new_contractor_registration_path %></p>
      <p><%= link_to 'Criar conta de usuário', new_user_registration_path %></p>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
